In [13]:
x = int(input('enter a number:' ))
if x>10:
    print('True')
else:
    print('False')

enter a number: 2

False

In [21]:
x = {1,2,3,4,3,6}
print(x)

{1, 2, 3, 4, 6}

In [25]:
list1= [1,2,3]
list2=[4,5,6]
set1 = set(list1)
set2 = set(list2)
#print(set1)
set1.update(list2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [31]:
x = {1,2,3,4,5,6}
x.discard(7)
print(x)

{1, 2, 3, 4, 5, 6}

In [33]:
A={1,2,3}   #UNION
B ={4,5,6}
print("A,B:", A|B)

A,B: {1, 2, 3, 4, 5, 6}

In [43]:
A={1,2,3}  
B ={3,2,6}
print(A & B)

{2, 3}

In [51]:
x= {1,2,3}
y= {2,3,4}
x.intersection_update(y)
print(x)

{2, 3}

In [53]:
x= {1,2,3}
y= {2,3,4}
print(x-y)
print(y-x)

{1}
{4}

In [59]:
x={1,2,3,4,5}
y={3,4,5,6,7}
x.difference_update(y)
print(x)
x-y
y-x

{1, 2}

{3, 4, 5, 6, 7}

In [63]:
x={1,2,9,8}
y={3,5,6,7}
print(x.isdisjoint(y))

True

In [69]:
x={1,2,3,4,5}
y={4,5,6,7,6,1,2,4,}
print(x.issubset(y))

False

In [73]:
x={1,2,3,4,5}
y={4,5,6,7,6,1,2,4,}
print(x.issuperset(y))

False

In [77]:
list1=[1,2,3]
list2=[2,3,4]
list3=[3,4,5]
set1=set(list1)
set2=set(list2)
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(list3))

{1, 4}
{2, 5}

In [1]:
d = {1: '001', 2: '010', 3: '011'}

print(d.get(4, "Not found"))

Not found

In [3]:
Dictionary1 = { 'A': 'Geeks', 'B': 4, 'C': 'Geeks' }

print("Dictionary items:")

# Printing all the items of the Dictionary
print(Dictionary1.items())

Dictionary items:
dict_items([('A', 'Geeks'), ('B', 4), ('C', 'Geeks')])

In [5]:
Dictionary1 = {'A': 'Geeks', 'B': 'For', }
Dictionary2 = {'B': 'Geeks'}

# Dictionary before Updation
print("Original Dictionary:")
print(Dictionary1)

# update the value of key 'B'
Dictionary1.update(Dictionary2)
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Geeks', 'B': 'For'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'Geeks'}

In [7]:
Dictionary1 = {'A': 'Geeks'}

# Dictionary before Updation
print("Original Dictionary:")
print(Dictionary1)

# update the Dictionary with iterable
Dictionary1.update(B='For', C='Geeks')
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Geeks'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}

In [5]:
x={'dicta':{1:'geeks'},'dictb':{'name':'for'}}
print(x['dicta'])
print(x['dicta'][1])
print(x['dictb']['name'])

{1: 'geeks'}
geeks
for

choice=int(input("enter your number" ))
if choice == 1:
        print("Admin")
elif choice == 2:
        print("Editor")
elif choice == 3:
        print("Guest")
else:
        print("Wrong entry")

In [1]:
print("hello ")

number=int(input("enter a number:"))
if number>=5:
    print("the number is +ve")
else:
    print("the number is -ve:")

hello

enter a number: 3

the number is -ve:

In [1]:
#break statement 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [7]:
sum = 0
for i in range(2, 22, 2):
    sum +=i
print(sum)

110

In [9]:
sum = 0
for i in range(2, 22, 2):
    sum +=i
    print(sum)

2
6
12
20
30
42
56
72
90
110

In [13]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    square = i ** 2
    print(i, square)

1 1
2 4
3 9
4 16
5 25

In [7]:
for i in range(10):
    if i > 5:
          print("stop")
          break
    print(i)

0
1
2
3
4
5
stop

In [1]:
numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [4]:
 for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [1]:
name = "mariya mennen"
count=0
for i in name:
    if i!='m':
        continue
    else:
         count=count+1
         print(count)

1
2

In [22]:
 count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)
else:
    print("Done")

1
2

In [31]:
print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [37]:
numbers = [1, 2, 3, 4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

In [50]:
rows=5
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print(' ')

*
* *
* * *
* * * *
* * * * *

In [ ]:
dialogue = "Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies"
# split on whitespace
for word in dialogue.split():
    print(word)

In [48]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [1]:
count = 1
# condition: Run loop till count is less than 3
while count < 3:
    print(count)
    count = count + 1

1
2

In [3]:
count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 3

In [7]:
number = int(input('Enter any number between 100 and 500 '))
# number greater than 100 and less than 500
while number < 100 or number > 500:
    print('Incorrect number, Please enter correct number:')
    number = int(input('Enter a Number between 100 and 500 '))
else:
    print("Given Number is correct", number)

Enter any number between 100 and 500  600

Incorrect number, Please enter correct number:

Enter a Number between 100 and 500  30

Incorrect number, Please enter correct number:

Enter a Number between 100 and 500  300

Given Number is correct 300

In [ ]:
# Infinite whi

In [1]:
n=10
while n > 0:
    if n % 2 == 0:
        print("even")
    else:
        print("odd")
    n = n - 1

even
odd
even
odd
even
odd
even
odd
even
odd

In [1]:
name='jesso29roy'
size=10
i=0
while i<size:
    if name[i].isdecimal():
        break
        
    print(name[i],end=" ")
    i=i+1

j e s s o

In [18]:
name='jesso29roy'
size=10
i=-1
while i<size-1:
    i=i+1
    if not name[i].isalpha():
        continue
        
    print(name[i],end=" ")

j e s s o r o y

In [24]:

i = 1
# outer while loop
# 4 rows in pattern
for i < 5:
    j = 0
    # nested while loop
    for j < i:
        print('*', end=' ')
        j = j + 1
    # end of nested while loop
    # new line after each row
    print('')
    i = i + 1

SyntaxError: invalid syntax (3508393593.py, line 4)

In [9]:
n=int(input("enter n :"))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("* ", end="")
    print(" ")

enter n : 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [1]:
# reverse while loop
i = 10
while i >= 0:
    print(i, end=' ')
    i = i - 1

10 9 8 7 6 5 4 3 2 1 0

In [7]:
name = "Jessa"
i = 0
res = len(name) - 1
while i <= res:
    print(name[i])
    i = i + 1

J
e
s
s
a

In [5]:
numbers = [1, 2, 4, 5, 7]
size = len(numbers)
i = 0
while i < size:
    print(numbers[i])
    i = i + 1

1
2
4
5
7

In [5]:
n=int(input("enter a number: "))
for i in range(1,n):
    if n%2==0:
       print(True)
    else:
       print(False)

enter a number:  2

True

In [12]:
num1 = int(input ("Enter the 1 Value: "))  
num2 = int(input ("Enter the 2 Value: "))  
   
for number in range (num1, num2 + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number %i) == 0:  
                break  
        else:  
            print (number)

Enter the 1 Value:  1
Enter the 2 Value:  50

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [11]:
# Calculate sum of all numbers from 1 to a given number
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number  1

Sum is: 1

In [2]:
# Initialize the number
num = 4  # Starting from 4 since 1, 2, and 3 are not composite numbers

# Loop through numbers from 4 to 50
while num <= 50:
    # Initialize a flag to check if the number is composite
    is_composite = False
    
    # Check divisibility for all numbers less than 'num'
    divisor = 2
    while divisor <= num // 2:
        if num % divisor == 0:
            is_composite = True
            break
        divisor += 1
    
    # If it's a composite number, print it
    if is_composite:
        print(num)
    
    # Move to the next number
    num += 1

4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50

In [26]:
start = 1
end = 100
print("composite between",start,"and",end,"are:")
for num in range(start,end + 1):
    if num >1:
        for i in range(2, int(num**0.5)+1):
            if (num % i) == 0:
                break
            else:
                print(num)

composite between 1 and 100 are:
5
7
9
11
11
13
13
15
17
17
17
19
19
19
21
23
23
23
25
25
25
27
29
29
29
29
31
31
31
31
33
35
35
35
37
37
37
37
37
39
41
41
41
41
41
43
43
43
43
43
45
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
99

In [1]:
#python function
# function
def message():
    print("Welcome to PYnative")

# call function using its name
message()

Welcome to PYnative

In [3]:
# function
def course_func(name, course_name):
    print("Hello", name, "Welcome to PYnative")
    print("Your course name is", course_name)

# call function
course_func('John', 'Python')

Hello John Welcome to PYnative
Your course name is Python

In [7]:
#python function
def calculater(a,b):
    add = a+b
    sub = a-b
    multi = a*b
    divi = a/b

    return add
    return sub
    return multi
    return divi

res=calculater(1,2)
print(res)

3

In [11]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [13]:
#Arbitrary Arguments, *args
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [15]:
#Keyword Arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [17]:
#Arbitrary Keyword Arguments, **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [19]:
#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [21]:
#Passing a List as an Argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [29]:
def my_function(food):
  for x in food:
    print(x)

fruits = {"apple", "banana", "cherry"}

my_function(fruits)

cherry
apple
banana

In [31]:
#Calling a function of a module , randint
from random import randint

# call randint function to get random number
print(randint(10, 20))

16

In [33]:
#suffle
import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['apple', 'cherry', 'banana']

In [35]:
#randrange
import random

print(random.randrange(3, 9))

6

In [37]:
#seed
import random

random.seed(10)
print(random.random())

0.5714025946899135

In [39]:
# Docstring
def factorial(x):
    """This function returns the factorial of a given number."""
    return x

# access doc string
print(factorial.__doc__)

This function returns the factorial of a given number.

In [41]:
#help
# pass function name to help() function
print(help(factorial))

Help on function factorial in module __main__:

factorial(x)
    This function returns the factorial of a given number.

None

In [9]:
#scope Local Scope
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [11]:
#Global Scope
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [19]:
#Global Keyword,local

x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

300

In [25]:
#nonlocal
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [31]:
#recursion
def sum(n):
    if n<=1:           #base case
        return n
    else:
        ans=sum(n-1) #general case
    print(ans)
    return n+ans
print(sum(6))

1
3
6
10
15
21

In [1]:
#tail recursion
def dispn(n):
    if n==0:
        return
    print(n)
    dispn(n-1)
dispn(5)

5
4
3
2
1

In [3]:
def dispn(n):
    if n==0:
        return
    dispn(n-1)
    print(n)
dispn(5)

1
2
3
4
5

In [7]:
#head recursion
def headr(n):
    if n>0:
        headr(n-1)
        print(n,end=" ")
headr(5)

1 2 3 4 5

In [9]:
#indirect recursion
def A(n):
    if n>0:
        print(" ",n,end=" ")
        B(n+1)
def B(n):
    if n>1:
        print(" ",n,end=" ")
        A(n-5)
A(20)

  20   21   16   17   12   13   8   9   4   5

In [11]:
def factorial(no):
    if no == 0:
        return 1
    else:
        return no * factorial(no - 1)

print("factorial of a number is:", factorial(8))

factorial of a number is: 40320

In [15]:
#EG RECURSION
def tri(k):
  if(k>0):
    result = k+tri(k-1)
    print(result)
  else:
    result = 0
  return result

#print("\n\nRecursion Example Results")
tri(6)

1
3
6
10
15
21

21

In [1]:
#lambda
l = [10, 5, 12, 78, 6, 1, 7, 9]
even = list(filter(lambda x: x % 2 == 0, l))
print(even)

[10, 12, 78, 6]

In [27]:
# single inhertanceeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

class vehical:
    def vehical_info(self):
        print('Inside vehical class')
class car(vehical):
    def car_info(self):
        print('Inside car class')

car=car()
car.vehical_info()
car.car_info()

Inside vehical class
Inside car class

In [49]:
#  MULTIPLE INHERITANCE                         
class person:
    def person_info(self, name, age):
        print('Inside person class')
        print('Name:',name,'Age:',age)
class company:
    def company_info(self,company_name, location):
        print('Inside company class')
        print('Name:',company_name, 'location:',location)
class Employee(Person ,Company):
    def Employee_info(self,salary,skill):
        print('Inside employee class')
        print('salary:',salary,'skill:',skill)

em=Employee()
em.person_info('jassa',29)
em.company_info('google','america')
em.Employee_info(45000,'python')

Inside Person class
Name: jassa Age: 29
Inside Company class
Name: google location: america
Inside employee class
salary: 45000 skill: python

In [93]:
#MULTILEVEL INHERITANCE
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')
        
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')
        
class SportsCar(Car):
    def sports_car_info(self):
        print('Inside SportsCar class')
        
s_car = SportsCar()
s_car.Vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class

In [12]:
# HIERACHICAL INHERITANCE
class vehical:
    def info(self):
        print("This is vehical")

class Car(vehical):
    def car_info(self,name):
        print("car name is:",name)

class Truck(vehical):
    def truck_info(self,name):
        print("Truck name is:",name)

obj1=Car()
obj1.info()
obj1.car_info('BMW')

obj2=Truck()
obj2.info()
obj2.truck_info('Ford')

This is vehical
car name is: BMW
This is vehical
Truck name is: Ford

In [14]:
#SUB CLASS

In [ ]:
# ISCLASS

In [ ]:
#ISINSTANCE()

In [ ]:
# METHOD OVERRIDING

In [ ]:
x [20,13,4,8,9,]
y=reduce(lambda a,b:a+b,x)

In [ ]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B,A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
#print(C.mro())

In [ ]:
super function inheritance
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

In [ ]:
super function inheritance
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

In [16]:
# public
class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data members
        self.name = name
        self.salary = salary

    # public instance methods
    def show(self):
        # accessing public data member
        print("Name: ", self.name, 'Salary:', self.salary)

# creating object of a class
emp = Employee('Jessa', 10000)

# accessing public data members
print("Name: ", emp.name, 'Salary:', emp.salary)

# calling public method of the class
emp.show()

Name:  Jessa Salary: 10000
Name:  Jessa Salary: 10000

In [22]:
#private
class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary

# creating object of a class
emp = Employee('Jessa', 10000)

# accessing private data members
print('Salary:', emp.__salary)

AttributeError: 'Employee' object has no attribute '__name'

In [24]:
# protected
# base class
class Company:
    def __init__(self):
        # Protected member
        self._project = "NLP"

# child class
class Employee(Company):
    def __init__(self, name):
        self.name = name
        Company.__init__(self)

    def show(self):
        print("Employee name :", self.name)
        # Accessing protected member in child class
        print("Working on project :", self._project)

c = Employee("Jessa")
c.show()

# Direct access protected data member
print('Project:', c._project)

Employee name : Jessa
Working on project : NLP
Project: NLP

In [26]:
#getter and setter
class Student:
    def __init__(self, name, age):
        # private member
        self.name = name
        self.__age = age

    # getter method
    def get_age(self):
        return self.__age

    # setter method
    def set_age(self, age):
        self.__age = age

stud = Student('Jessa', 14)

# retrieving age using getter
print('Name:', stud.name, stud.get_age())

# changing age using setter
stud.set_age(16)

# retrieving age using getter
print('Name:', stud.name, stud.get_age())

Name: Jessa 14
Name: Jessa 16