In [1]:
for i in range(10):
    if i > 5:
         print("stop.")
         break
    print(i)

0
1
2
3
4
5
stop.

In [3]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [5]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [7]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

In [18]:
for _ in range(10):
   print("shivam sood")

shivam sood
shivam sood
shivam sood
shivam sood
shivam sood
shivam sood
shivam sood
shivam sood
shivam sood
shivam sood

In [21]:
list=[2,3,5,7,8,9]
for i in list:
    print(i)

2
3
5
7
8
9

In [25]:
i=1
while i <10:
    print(i)
    i+=2

1
3
5
7
9

In [28]:
x=4
y=0
while x>=0:
    x-=1
    y+=1
    if x==y:
        continue
    else:
         print(x,y)

3 1
1 3
0 4
-1 5

In [50]:
n=int(input("enter n :"))
for i in range(n):
        print("i" *5)

enter n : 4

iiiii
iiiii
iiiii
iiiii

In [80]:
rows = 8
for i in range(rows):
    for j in range(i):
        print(i,end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [74]:
rows = 8
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [86]:
rows = 8
for j in range(rows):
    for i in range(i):
        print(i, end=' ')
    print('')

0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [88]:
rows = 5
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [90]:
rows = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [106]:
x='shivamsood'
print(x.center(16,'#'))

###shivamsood###

In [110]:
x='shivamsood'
print(x.count('s'))

2

In [124]:
x= 'geeks for geeks'
print(x.index('k'))

3

In [3]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [7]:
num = 5
for l in range(num,0,-1)
 for p in range(1,0,-1)
      print(p,end=" ")
 print()

SyntaxError: expected ':' (2634016695.py, line 2)

In [18]:
n=5
print("*"*n,end=" ")

*****

In [24]:
n=5
for j in range(n):
    print('*',end=" ")

* * * * *

In [32]:
n=2
for i in range(n):
    for j in range(n):
        print('*')

*
*
*
*

In [48]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [50]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [52]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [60]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end='')
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [11]:
#1: Print first 10 natural numbers using while loop
i = 1
while i<=10:
   print(i)
   i+=1

1
2
3
4
5
6
7
8
9
10

In [1]:
#2: Print the following pattern
n = 5
for i in range(1, n+1,1):
    for j in range(1,i+1):
       print(j,end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
# 3: Calculate sum of all numbers from 1 to a given number
n = int(input("enter number" ))
x = sum(range(1,n+1))
print('sum is:',x)

enter number 10

sum is: 55

In [35]:
# 3: Calculate sum of all numbers from 1 to a given number
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s += i
print("\n")
print("Sum is: ", s)

Enter number  5

Sum is:  15

In [37]:
#4: Print multiplication table of a given number
n = 2
for i in range(1, 11):
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [39]:
# 5: Display numbers from a list using a loop
numbers = [12, 75, 150, 180, 145, 525, 50]
for n in numbers:
    if n > 500:
        break
    elif n > 150:
        continue
    # check if number is divisible by 5
    elif n % 5 == 0:
        print(n)

75
150
145

In [53]:
number = [15,75,45,34,56,89]
for n in number:
    if n > 500:
        break
    elif n > 100:
        continue
    elif n % 5==0:
        print(n)

15
75
45

In [55]:
#6: Count the total number of digits in a number
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [64]:
#7: Print the following pattern
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()


rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [66]:
#8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
new_list = reversed(list1)
for item in new_list:
    print(item)

50
40
30
20
10

In [70]:
#9: Display numbers from -10 to -1 using for loop
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [72]:
#10: Display a message “Done” after the successful execution of the for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [80]:
#11: Print all prime numbers within a range
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [82]:
#12: Display Fibonacci series up to 10 terms
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
#13: Find the factorial of a given number
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

In [1]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,2*i):                                                                   
        print(j,end="")
    print()

enter a number:  5

    1
   123
  12345
 1234567
123456789

In [57]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    print(" "*(n-i),end="--")
    for j in range(1,2*i):
        print(j,end=".")
    print()

enter a number:  5

    --1.
   --1.2.3.
  --1.2.3.4.5.
 --1.2.3.4.5.6.7.
--1.2.3.4.5.6.7.8.9.

In [31]:
fruits=["apple","mango","kivi"]
#print(fruits)
fruits.insert(2,["chiku","water melen"])
print(fruits)
print(fruits[2][1])

['apple', 'mango', ['chiku', 'water melen'], 'kivi']
water melen

In [8]:
n = int(input("enter a number: "))
sum=0
for i in range(1,n+1):
    sum=sum+i
    print("sum nom :",sum)

enter a number:  4

sum nom : 1
sum nom : 3
sum nom : 6
sum nom : 10

In [34]:
s1 = {'a','b','c'}
s2 = {'a','f','g'}
print(s1,s2)
s3=s1.union(s2)
print(s3)

{'a', 'c', 'b'} {'a', 'f', 'g'}
{'c', 'f', 'g', 'a', 'b'}

In [7]:
#Python String Exercise with Solutions
#Exercise 1A: Create a string made of the first, middle and last character
str1 = 'James'
print(str1)
res = str1[0]
l = len(str1)
mi = int(l / 2)
res = res + str1[mi]
res = res + str1[l - 1]
print("New String:", res)

James
New String: Jms

In [11]:
#Exercise 1B: Create a string made of the middle three characters
def get_middle_three_chars(str1):
    print("Original String is", str1)
    mi = int(len(str1) / 2)
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

In [13]:
#Exercise 2: Append new string in the middle of a given string
def append_middle(s1, s2):
    print("Original Strings are", s1, s2)
    mi = int(len(s1) / 2)
    x = s1[:mi:]
    x = x + s2
    x = x + s1[mi:]
    print("After appending new string in middle:", x)

append_middle("Ault", "Kelly")

Original Strings are Ault Kelly
After appending new string in middle: AuKellylt

In [15]:
#Exercise 3: Create a new string made of the first, middle, and last characters of each input string
def mix_string(s1, s2):
    first_char = s1[0] + s2[0]

    # get middle character from both string
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    # get last character from both string
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    # add all
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

In [17]:
#Exercise 4: Arrange string characters such that lowercase letters should come first
str1 = "PYnAtivE"
print('Original String:', str1)
lower = []
upper = []
for char in str1:
    if char.islower():
        # add lowercase characters to lower list
        lower.append(char)
    else:
        # add uppercase characters to lower list
        upper.append(char)

sorted_str = ''.join(lower + upper)
print('Result:', sorted_str)

Original String: PYnAtivE
Result: ntivPYAE

In [23]:
#Exercise 5: Count all letters, digits, and special symbols from a given string
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        # if it is not letter or digit then it is special symbol
        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2 Symbol = 3

In [25]:
#Exercise 6: Create a mixed String using the following rules
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

In [27]:
#Exercise 7: String characters balance Test
def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

In [29]:
#Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

temp_str = str1.lower()

count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

In [35]:
#Exercise 9: Calculate the sum and average of the digits present in a string
input_str = "PYnative29@#8496"
total = 0
cnt = 0
for char in input_str:
    if char.isdigit():
        total += int(char)
        cnt += 1

# average = sum / count of digits 
avg = total / cnt
print("Sum is:", total, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [37]:
#Exercise 10: Write a program to count occurrences of all characters within a string
str1 = "Apple"

# create a result dictionary
char_dict = dict()

for char in str1:
    count = str1.count(char)
    # add / update the count of a character
    char_dict[char] = count
print('Result:', char_dict)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [39]:
#Exercise 11: Reverse a given string
str1 = "PYnative"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

Original String is: PYnative
Reversed String is: evitanYP

In [ ]:
#Exercise 12: Find the last position of a given substring
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at index:", index)

In [41]:
#Exercise 13: Split a string on hyphens
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [45]:
#Exercise 14: Remove empty strings from a list of strings
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [ ]:
#Exercise 15: Remove special symbols / punctuation from a string ,cutt

In [47]:
#Exercise 16: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

In [51]:
#Exercise 16: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
res=""
for i in str1:
    if i.isdigit():
        res= res+i
print(res)

2510

In [55]:
#Exercise 17: Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"
print("The original string is : " + str1)

res = []
temp = str1.split()

for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Emma25 is Data scientist50 and AI Expert
Displaying words with alphabets and numbers
Emma25
scientist50

In [57]:
#
str1 = "Emma25 is Data scientist50 and AI Expert"
res=[]
temp = str1.split()
for i in temp:
    a_digit= False
    b_alpha = False

    for j in i:
        if j.isdigit():
            a_digit= True
        if j.isalpha():
            b_alpha = True

        if a_digit and b_alpha:
            res.append(i)
            break

for k in res:
    print(k)

Emma25
scientist50

In [61]:
#Exercise 18: Replace each special symbol with # in the following string
import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)
print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##

In [7]:
# PRACTICE ONLINE CLASS
n=int(input("enter a number:"))
sum=0
for i in range(1,n+1):
    sum+=i
    print(sum)

enter a number: 4

1
3
6
10

In [13]:
def soodshiv():
    print("shivam sood")
soodshiv()

shivam sood

In [49]:
def add(n1,n2):
    #sum=n1+n2
    return sum
x=2
y=3
print(add(x,y))

10

In [ ]:
#function

In [ ]:
#Exercise 1: Create a function in Python

In [35]:
def mix(name, age):
   print(name,age)
print("ben",34)

ben 34

In [39]:
#Exercise 2: Create a function with variable length of arguments
def func(*args):
    for i in args:
        print(i)
func(50,70,90,60)
func(30,100,40)

50
70
90
60
30
100
40

In [71]:
#Exercise 3: Return multiple values from a function
def cal(a,b):
    add=a+b
    sub=a-b
    return add,sub
res=cal(10,20)
print(res)

(30, -10)

In [73]:
#Exercise 4: Create a function with a default argument
def show(name,salary=5000):
    print("name:",name,"salary:",salary)
show("Ben",2000)
show("jassa")

name: Ben salary: 2000
name: jassa salary: 5000

In [93]:
#Exercise 5: Create an inner function to calculate the addition in the following way
def func1(a):
    def func2(b):
        return a + b
    return func2
add_five=func1(5)
result=add_five(10)
print(result)

15

In [91]:
def func1(a,b):
    def func2():
        return a+b
    return func2
add_five=func1(5,10)
result=add_five()
print(result)

15

In [95]:
#Exercise 6: Create a recursive function
def add(num):
    if num:
        return num + add(num - 1)
    else:
        return 0

res = add(10)
print(res)

55

In [101]:
#Exercise 7: Assign a different name to function and call it through the new name
def display_student(name, age):
    print(name, age)
display_student("Emma", 26)
showStudent = display_student
showStudent("Emma", 26)

Emma 26
Emma 26

In [107]:
#Exercise 8: Generate a Python list of all the even numbers between 4 to 30
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [111]:
#Exercise 8: Generate a Python list of all the even numbers between 4 to 30
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
sum = 0
for i in range(2, 22, 2):
    sum = sum + i
print(sum)

110

In [23]:
num=[2,3,4,5,6,7]
for i in number:
    square=i**2
    print(square)

4
9
16
25

In [39]:
num=[2,3,4,5,6]
sum=0
for i in num:
    sum=sum+i
numsize=len(num)
avg=sum/numsize
print(int(avg))

4

In [57]:
for i in range(3,25,3):
    if i%2==0:
       print("even:" ,i)
    else:
       print("odd:",i)

odd: 3
even: 6
odd: 9
even: 12
odd: 15
even: 18
odd: 21
even: 24

In [65]:
for i in range(9,20):
    if i%2==0:
      print(i)

10
12
14
16
18

In [69]:
num=[2,9,7,12,13,10,23,13,141,15]
for i in num:
    if i>10:
        break
    else:
        print(i)

2
9
7

In [77]:
name="shiv sood"
sum=0
for char in name:
    if char =='s':
        continue
    else:
        sum=sum+1
print(sum)

7

In [98]:
count=0
for i in range(1,6):
     count=count+1
     if count>2:
         break
     else:
         print(i)
else:
      print("done")

1
2

In [122]:
num1=[2,3,4,6,7,8,9]
for i in reversed(num1):
    print(i,end=" ")

9 8 7 6 4 3 2

In [3]:
names = ['Jess', 'Emma', 'Kelly']
for i in names:
   print(i, end=' ')

Jess Emma Kelly

In [5]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
sum=0
for i in range(0,10,2):
    sum =sum+i
    print(sum,)

0
2
6
12
20

In [34]:
#pass by value
def addone(x):
    x=x+1
    print('inside',x)
x=5
addone(x)
print('outside',x)

inside 6
outside 5

In [52]:
#pass by reference
def modifylist(list):
    list.append(6)
    print("inside",list)

list=[1,3,2]
modifylist(list)
print('outside',list)

inside [1, 3, 2, 6]
outside [1, 3, 2, 6]

In [37]:
def factorial(n):
    ans=1
    if n==0:
        ans=1
    else:
        for i in range(1,n+1):
            ans=ans*i
        return ans
n=int(input("enter n:"))
output = factorial(n)
print("factorial:",output)

enter n: 4

factorial: 24

In [55]:
def factorial(n):
    
    if n==0:
        return 1 

    ans = n*factorial(n-1)
    return ans

n=int(input("enter n:"))
print("factorial:",n)

enter n: 5

factorial: 5

In [59]:
def printnto1(n):
    if n==0:
        return
    print(n)

    printnto1(n-1)
n=int(input("enter n:"))
printnto1(n)

enter n: 4

4
3
2
1

In [67]:
def printnto1(n):
    if n==0:
        return
   # print(n)

    printnto1(n-1)
    print(n)
n=int(input("enter n:"))
printnto1(n)

enter n: 4

1
2
3
4

In [71]:
def sum1toN(n):
    if n==1:
        return 1
    ans=n+sum1toN(n-1)
    return ans
n=int(input("enter n:"))
print(sum1toN(n))

enter n: 4

10

In [11]:
#fibonacci
def fibonacci(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return (fibonacci(n-1)+fibonacci(n-2))
n=int(input("enter n:"))
for i in range(1,n+1):
  print(fibonacci(i))

enter n: 7

0
1
1
2
3
5
8

In [5]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [19]:
for i in range(10,60,5):
    print(i,end=" ")

10 15 20 25 30 35 40 45 50 55

In [17]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [25]:
list=['shiv', 'sood', 20,35,27]
for i in range(len(list)):
    print(list[i])

shiv
sood
20
35
27

In [33]:
list=['shiv', 'sood', 20,35,27]
for i in range(len(list)):
    print(list[i])

shiv
sood
20
35
27

In [41]:
num=int(input("enter no:"))
for num in range(num): 
     for i in range(num):
          print(num,end=" ")
     print()

enter no: 5

1
2 2
3 3 3
4 4 4 4

In [47]:
for i in range(5,-1,-1):
    print(i,end=" ")

5 4 3 2 1 0

In [49]:
for i in reversed(range(5,10)):
    print(i)

9
8
7
6
5

In [57]:
                                                   #doubt in open bracket
list1=[10,20,30,40,50,60]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

60
50
40
30
20
10

In [67]:
for i in range(20,10,-2):
    print(i,end=" ")

20 18 16 14 12

In [75]:
for i in range(7,71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

In [101]:
# negative range from -1 to -10
for i in range(1,-11,-1):
    print(i, end=', ')

1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10,

In [111]:
for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [27]:
            
num = list(range(2, 10, 2))
print(list(num))
for i in num:
    print(i)

[2, 4, 6, 8]
2
4
6
8

In [2]:
#                                            
start = 2
stop = 10
step = 2

#stop = stop+step

for i in range(start, stop, step):
    print(i, end=' ')

2 4 6 8

In [ ]:
step = 2
for i in range(2, 20 + step, step):
    print(i, end=' ')
# Output 2 4 6 8 10 12 14 16 18 20

In [11]:
step=3
for i in range(3,30+step,step):
    print(i,end=' ')

3 6 9 12 15 18 21 24 27 30

In [23]:
list1 = list(range(2, 10, 2))
print(list1)
for n in list1:
    print(n)

[2, 4, 6, 8]
2
4
6
8

In [29]:
list1 = list(range(10, 100, 10))                  
# stop = list size, step =1
for i in range(0, len(list1), 1):
    list1[i] = list1[i] * 2
print(list1)
# Output [20, 40, 60, 80, 100, 120, 140, 160, 180]

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [33]:
from itertools import chain                     

new_range = chain(range5(5), range(5, 10))
for num in new_range:
    print(num, end=' ')
# Output 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [8]:
for i in range(2,10,2):
    print(i,end=" ")

2 4 6 8

In [12]:
list1=["shiv","sagar","ram",30,46,23]
for i in range(len(list1)):
    print(list1[i])

shiv
sagar
ram
30
46
23

In [30]:
for i in range(-5,5,1):
    print(i,end=" ")

-5 -4 -3 -2 -1 0 1 2 3 4

In [34]:
for i in reversed(range(10,20)):
    print(i,end=" ")

19 18 17 16 15 14 13 12 11 10

In [42]:
for i in range(5):
    print(i,end=" ")

for i in range(2,20,5):
    print(i,end=" ")

0 1 2 3 4 2 7 12 17

In [ ]:
list1=list(range(2,10,2)):
for i in range(0,len(list1),1):
    list[i]=list[i]*2
    print(list)

for i in range(10)[3:8]:
    print(i, end=' ')

In [58]:
for i in range(30)[20:29]:
    print(i,end=" ")

20 21 22 23 24 25 26 27 28

In [62]:
# range from 'a' to 'z                       
def character_range(char1, char2):
    for char in range(ord(char1), ord(char2) + 1):
        yield (char)


for letter in character_range('a', 'z'):
    print(chr(letter), end=', ')

a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z,

In [3]:
count=1
while count < 4:
    print(count)
    count=count+1

1
2
3

In [ ]:
months = ['January', 'June', 'March', 'April']
for mon in months:
    pass
print(months)

In [13]:
month = ['january','april','febuary','july','june']
for i in month:
    pass
print(month)

['january', 'april', 'febuary', 'july', 'june']

In [5]:
class vehical:
    def vehical_info(self):
        print('print vehical class')

class car(vehical):
    def car_info(self):
        print('Inside car class')

car=car()
car.vehical_info()
car.car_info()

print vehical class
Inside car class

In [23]:
###                                  LIST EXERCISE
#Exercise 1: Reverse a list in Python
list1=[23 ,34,23,67,54,78]
list1.reverse()
print(list1)

list1=[23 ,34,23,67,54,78]
list1=list1[::-1]
print(list1)

[78, 54, 67, 23, 34, 23]
[78, 54, 67, 23, 34, 23]

In [25]:
#Exercise 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
for i, j in zip(list1, list2):
    list3=i+j
    print(list3)

My
name
is
Kelly

In [33]:
#Exercise 3: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7,8,9]
res = [x * x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
# Exercise 4: Concatenate two lists in the following order
list1 = ["Hello", "take"]
list2 = ["Dear", "Sir"]
res= []
for i in list1:
    for j in list2:
        res.append(i + j)
print(res)

['HelloDear', 'HelloSir', 'takeDear', 'takeSir']

In [71]:
#
list1 = ["Hello", "take"]
list2 = ["Dear", "Sir"]
for i,j in zip(list1,list2):
    list3=i+j
    print(list3)

HelloDear
takeSir

In [73]:
#Exercise 5: Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2):
    list3= i+j
    print(list3)

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::1]):
  print(x,y)

110
220
330
440
10 100
20 200
30 300
40 400

In [7]:
#Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [17]:
# Exercise 7: Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [21]:
#Exercise 8: Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [25]:
#Exercise 9: Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [31]:
#Exercise 10: Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(list1, 20)
print(res)
##
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]
[5, 15, 25, 50]

In [33]:
#                  Python Dictionary Exercise with Solutions
#Exercise 1: Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict = dict(zip(keys, values))
print(dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}